/**************************************************
* CHESSBOARD
***************************************************/

.chess-board {
    border-spacing: 0;
    border-collapse: collapse;
}
.chess-board th.outer{
    padding-right: .5em;
    font-size: 0.5em;
}
.chess-board td {
    /*border: 1px solid #f1faee;*/
    width: 2em;
    height: 2em;
    position: relative;
}

.chess-board td.clickable{
    cursor: pointer;
}
.chess-board td.light {
    background: #f1faee;
}
.chess-board td.light.selected{
    background: #457b9d;
}
.chess-board td.dark {
    background: #1d3557;
}
.chess-board td.dark.selected{
    background: #457b9d;
}

.chess-board .marker-container{
    height: 100%;
    width: 100%;
    position:absolute;
    display: flex;
    align-items: stretch;
    justify-content: center;
    top:0;
    left:0;
    pointer-events: none;
}

.chess-board .check.marker-container{
    z-index: 50;
}

.chess-board .option.marker-container{
    z-index: 200;
}

.chess-board .option-marker{
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    background: black;
    opacity: 0.35;
    margin: auto;
}

.chess-board .check-marker{
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: red;
    opacity: 0.8;
    margin: auto;
    filter: blur(0.5rem);
}

.chess-board td:hover .option-marker{
    opacity: 0.7;
}

.chess-board .piece-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    z-index: 130;
    position: relative;
    margin: auto;
}

.chess-board .piece-container .piece {
    width: 100%;
    position: relative;
}

/**************************************************
* GAME
***************************************************/
.chess-board-container .player-info{
    display: flex;
    align-items: left;
}

.chess-board-container .name-elo{
    margin-left: 2em;
    margin-bottom: 0.5em;
}

.chess-board-container .name-elo .name{
    font-weight: 600;
    font-size: 0.7em;
}

.chess-board-container .name-elo .elo{
    margin-left: 0.3em;
    font-weight: 100;
    font-size: 0.6em;
}
