body{
    --color-light: #f1faee;
    --color-dark: #1d3557;
    --color-dark-selected: #457b9d;
    --color-light-selected: #457b9d;
    --color-background: #343a40;
    --color-typo: #ced4da;
    --menu-color: #f8f9fa;
    --menu-background-color: #212529;
  }


/**************************************************
* CHESSBOARD
***************************************************/

.chess-board {
    border-spacing: 0;
    border-collapse: collapse;
}
.chess-board th.outer{
    padding-right: .5em;
    font-size: 0.5em;
}
.chess-board td {
    /*border: 1px solid #f1faee;*/
    width: 2em;
    height: 2em;
    position: relative;
}



.chess-board td.clickable{
    cursor: grab;
}
.chess-board td.light {
    background: var(--color-light);
}
.chess-board td.light.selected{
    background: var(--color-light-selected);
}
.chess-board td.dark {
    background: var(--color-dark);
}
.chess-board td.dark.selected{
    background: var(--color-dark-selected);
}
.chess-board td.last-move{
    background: #3c73c0;
}
.chess-board td.premove{
    background-color: #f94144;
}

.chess-board .marker-container{
    height: 100%;
    width: 100%;
    position:absolute;
    display: flex;
    align-items: stretch;
    justify-content: center;
    top:0;
    left:0;
    pointer-events: none;
}

.chess-board .check.marker-container{
    z-index: 50;
}

.chess-board .option.marker-container{
    z-index: 200;
}

.chess-board .option-marker{
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    background: black;
    opacity: 0.35;
    margin: auto;
}

.chess-board .check-marker{
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: red;
    opacity: 0.8;
    margin: auto;
    filter: blur(0.5rem);
}

.chess-board td:hover .option-marker{
    opacity: 0.7;
}

.chess-board .piece-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    z-index: 130;
    position: relative;
    margin: auto;
}

.chess-board .piece-container .piece {
    width: 1.8em;
    height: 1.8em;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
}

.chess-board .piece-container .piece:active {
    cursor: grabbing;
}

/**************************************************
* GAME
***************************************************/
.chess-board-container .player-info{
    display: flex;
    align-items: center;
    position: relative;
    padding: 12px 0;
    height: 36px;
}

.chess-board-container .name-elo{
    margin-left: 16px;
    position: absolute;
    display: flex;
    align-items: center;
}

.chess-board-container .name-elo .name{
    font-weight: 600;
    font-size: 0.7em;
}

.chess-board-container .name-elo .elo{
    margin-left: 0.3em;
    font-weight: 100;
    font-size: 0.6em;
}

/**************************************************
* DECK
***************************************************/
.pieceDeckDark{
  width: 2em;
  height: 2em;

}

.dark{
    background: var(--color-dark);
}

.pieceDecklight{
  width: 2em;
  height: 2em;
  background: var(--color-light);
}

.line{
  align-content: center;
  display: flex;
}

.deckInfo{
  background: var(--menu-background-color);
  width : 10em;
  margin-bottom: 5%;
}

.allDeck{

}

.filter{
  filter: contrast(30%);
}

.test{
  align-content: center;
  display: flex;
  background: #ff0033;
}

.textWrap{
  margin-left: 5%;
  margin-bottom: 1.5%;
  margin-right: 5%;
}

.deckCase{
    margin-left: 1.5%;
    margin-bottom: 1.5%;
    margin-right: 1.5%;
    margin-top: 0.2%;
    width: 100%;
}

.totalDeckCase{
      display: flex;
      margin-bottom:1%;
}

.deck {
  background: var(--menu-background-color);
  width : 100%;
}
